body {
  background-color: #94618e;
  line-height: 1;
  color: white;
}

.jumbotron {
  background-color: #49274a !important;
}

#quizEnd {
  display: none;
}

.xxxgrid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}

.xxxgrid h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #57636e;
  font-size: 60px;
  text-align: center;
  color: #fff;
  padding: 2px 0px;
}

.grid #question {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white !important;
  margin: 50px;
}

.choices {
  margin-top: 30px;
}

.grid button {
  display: inline-block;
  margin: 2em;
  padding: 1em;
  border-radius: 5px;
  width: 100px;
  background-color: #2e38f6;
  text-decoration: none !important;
  color: white !important;
}

button:focus {
  background-color: #2e38f6;
  outline: 0;
}

footer {
  margin-top: 10px;
}
